{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>DDM: {% block page_title %}Title{% endblock page_title %}</title>

  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ddm_core/css/ddm-base.css' %}" />
  <link rel="stylesheet" href="{% static 'ddm_core/css/research-interface-base.css' %}" />
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap-icons.css' %}" />

  {% block extrahead %}{% endblock extrahead %}
</head>

<body class="research-interface">

{% block header %}
  {% include "ddm_core/layout/header.html" %}
{% endblock header %}

{% include "ddm_core/layout/sub_header.html" %}

{% include "ddm_core/layout/messages.html" %}

<div id="ddm-main" class="ddm-main container">

  {% block main_heading_wrapper %}
    <div class="main-heading">
      <h1>{% block main_heading %}{% endblock main_heading %}</h1>
      <div class="h1-sub">{% block sub_heading %}{% endblock sub_heading %}</div>
    </div>
  {% endblock main_heading_wrapper %}

  <div>
    {% block main_body %}{% endblock main_body %}
  </div>
</div>

{% block pre_footer %}
  <div class="form-controls">
    <div class="container">
      <div class="row justify-content-center align-items-center">

        <div class="col-6">
          {% block pre_footer_left %}
            <div><a href="{{ back_target }}"><i class="bi bi-arrow-left-short"></i> Back</a></div>
          {% endblock pre_footer_left %}
        </div>

        <div class="col-6 text-end">
          {% block pre_footer_right %}
            {% if form %}
              <div>{% include "ddm_core/form_components/_button_group.html" with for_form="base-form" %}</div>
            {% endif %}
          {% endblock pre_footer_right %}
        </div>
      </div>
    </div>
  </div>
{% endblock pre_footer %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
  <script src="{% static 'ddm_core/js/jquery/jquery-3.6.2.min.js' %}"></script>
  <script src="{% static 'ddm_core/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'ddm_core/js/messages.js' %}"></script>
  <script src="{% static 'ddm_projects/js/project-admin-base.js' %}"></script>
{% endblock scripts %}

</body>

</html>