{% extends 'ddm_core/base.html' %}

{% block page_title %}Create {{ object_type }}{% endblock %}

{% block main_heading %}{{ heading }}{% endblock %}

{% block main_body %}

  {% block above_form %}{% endblock above_form %}

  {% block form %}
    <form id="base-form" method='post' enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}

      {% block form_content %}

        {% include "ddm_core/form_components/_general_form_errors.html" %}

        <div>
          {{ form.non_field_errors }}
          {% for field in form %}
            {% include "ddm_core/form_components/_basic_field.html" %}
          {% endfor %}
        </div>

      {% endblock form_content %}

    </form>
  {% endblock form %}

  {% block below_form %}{% endblock below_form %}

  {% block main_bottom %}{% endblock %}

{% endblock %}

{% block breadcrumbs %}{% endblock %}