<div id="download-overlay" class="ddm-overlay">
  <div class="overlay-content d-flex justify-content-center align-items-center h-100 white">
    <div class="load-spinner"></div>
    <div class="fs-2 ps-3 text-white">
      <div>Your data is being prepared. This may take a few moments.</div>
      <div id="progress-bar-container" class="progress-bar-container">
        <div id="ddm-progress-bar" class="ddm-progress-bar">
          <div id="progress-bar-dot" class="progress-bar-dot"></div>
        </div>
      </div>
      <div id="download-progress" class="fs-2 ps-3 text-white w-100 text-center">0 %</div>
    </div>
  </div>
</div>

<div id="download-overlay-no-bar" class="ddm-overlay">
  <div class="overlay-content d-flex justify-content-center align-items-center h-100 white">
    <div class="load-spinner"></div>
    <div class="fs-2 ps-3 text-white">
      <div>Your data is being prepared. This may take a few moments.</div>
    </div>
  </div>
</div>