<div class="table-responsive">
  <table class="table uploader-overview-table">
    <thead>
    <tr>
      <th class="fit-content">Position</th>
      <th>Uploader</th>
      <th class="fit-content">Upload Type</th>
      <th class="fit-content">Donation Instructions</th>
      <th>Associated Blueprints</th>
    </tr>
    </thead>

    <tbody class="border-top-0">
    {% for uploader in file_uploaders %}
      <tr>
        <td class="fw-500">{{ uploader.index }}</td>
        <td><a class="fw-500" href="{% url 'ddm_datadonation:uploaders:edit' project.url_id uploader.pk %}">{{ uploader.name }}</a></td>
        <td><span class="badge-grey">{{ uploader.upload_type }}</span></td>
        <td><a href="{% url 'ddm_datadonation:instructions:overview' project.url_id uploader.pk %}">Instructions</a></td>

        {% if uploader.donationblueprint_set.all %}
          <td>

              {% for blueprint in uploader.donationblueprint_set.all %}
                <div>

                    <a href="{{ blueprint.get_absolute_url }}">
                      <div class="blueprint-card">
                        {{ blueprint.name }}
                      </div>
                    </a>

                </div>
              {% endfor %}

          </td>

        {% else %}
          <td>
            <span class="text-muted">No associated Blueprints</span>
          </td>

        {% endif %}

      </tr>

    {% empty %}
      <tr>
        <td colspan="4">You have yet to create an Uploader for this project.</td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
