{% load static ddm_tags %}

{% with q_pk_str=q.pk|stringformat:'s' %}
  {% with q_var_name='q-'|add:q_pk_str %}

    {% if q_var_name in filtered_vars %}
    {% else %}
      {% if q.question_text != None %}
        <div class="surquest-question-text">{{ q.question_text|insert_variable_response:submission|safe }}</div>
      {% endif %}
      {% if q.question_instruction != None %}
        <div class="surquest-question-instruction">{{ q.question_instruction|insert_variable_response:submission|safe }}</div>
      {% endif %}
    {% endif %}

  {% endwith %}
{% endwith %}
