{% extends 'ddm/project_admin/generic/page_with_form.html' %}

{% block page_title %}Create New Blueprint{% endblock %}

{% block main_heading %}Create New Donation Blueprint{% endblock %}

{% block submit_label %}Create Blueprint{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'project-list' %}">Projects</a> /
<a href="{% url 'project-detail' project_pk %}">"{{ project.name|truncatechars:15 }}" Project</a> /
<a href="{% url 'blueprint-list' project_pk %}">Donation Blueprints</a> /
Create New Blueprint
{% endblock %}
