{% extends 'ddm/project_admin/generic/page_with_form.html' %}

{% block page_title %}Edit Blueprint{% endblock %}

{% block main_heading %}Edit Blueprint "{{ object.name }}"{% endblock %}

{% block main_form %}
<form method='post'>
  {% csrf_token %}
  {{ form.media }}
  {{ form.non_field_errors }}
  <table class="table table-borderless">
    {% for field in form %}
      {% if field.name not in "expected_fields,extracted_fields" %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td><h4>Data Extraction Settings</h4></td>
    </tr>
    {% for field in form %}
    {% if field.name in "expected_fields,extracted_fields" %}
    <tr>
      <th>{{ field.label_tag }}</th>
      <td>
        {{ field.errors }}
        {{ field }}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

  {{ formset.management_form }}
  <table id="inlineform-table" class="table table-borderless">
    <tr>
      <td colspan="100%"><h5>Extraction Rules</h5></td>
    </tr>
    {% for form in formset%}
    {% if forloop.first %}
    <tr class="border-bottom">
      {% for field in form.visible_fields %}
      {% if field.name in 'name,field,execution_order' %}
      <th>{{ field.label }}</th>
      {% endif %}
      {% endfor %}
      <th></th>
      <th>Delete</th>
    </tr>
    {% endif %}

    <tr>
      {{ form.non_field_errors }}
      {% for field in form.visible_fields %}
      {% if field.name in 'name,field,execution_order' %}
      <td>
        {{ field.errors }}
        {{ field.value }}
      </td>
      {% endif %}
      {% endfor %}

      <td><a href="" type="button" data-bs-toggle="modal" data-bs-target="#configuration-{{ forloop.counter0 }}">Configure Step</a></td>

      {% for field in form.visible_fields %}
      {% if field.name in 'DELETE' %}
      <td>
        {{ field.errors }}
        {{ field }}
      </td>
      {% endif %}
      {% endfor %}

      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    </tr>
    <tr class="border-bottom bg-white">
      <td colspan="100%"><b><i>Description: </i></b><span id="step-description-{{ forloop.counter0 }}">–</span></td>
    </tr>
    {% endfor %}

  </table>

  <div class="mb-3 fs-4 ps-2">
    <a id="add-inline-form" type="button"><i class="bi bi-plus-square"></i></a>
  </div>

  {% for form in formset%}
  <div class="modal" id="configuration-{{ forloop.counter0 }}" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Rule Configuration</h4>
          <table class="table table-borderless">
            {% for field in form %}
            {% if field.name in 'name,field,execution_order,input_type,comparison_operator,comparison_value' %}
            <tr>
              <th>{{ field.label }}</th>
              <td>
                {{ field }}
                {{ field.errors }}
              </td>
            </tr>
          {% endif %}
          {% endfor %}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="ddm-btn" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="modal" id="configuration-template" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Rule Configuration</h4>
          <table class="table table-borderless">
            {% for field in form %}
            {% if field.name in 'name,field,execution_order,input_type,comparison_operator,comparison_value' %}
            <tr>
              <th>{{ field.label }}</th>
              <td>
                {{ field }}
                {{ field.errors }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="ddm-btn" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <table id="empty-form-placeholder" style="display:none">
    <tr>
      {% for field in formset.empty_form %}
      {% if field.name in 'name,field,execution_order' %}
      <td>
        {{ field.errors }}
        {{ field.value }}
      </td>
      {% endif %}
      {% endfor %}

      <td><a href="" type="button" data-bs-toggle="modal" data-bs-target="#configuration-__prefix__">Configure Step</a></td>

      {% for field in formset.empty_form.visible_fields %}
      {% if field.name in 'DELETE' %}
      <td>
        {{ field.errors }}
        {{ field }}
      </td>
      {% endif %}
      {% endfor %}

      {% for hidden in formset.empty_form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    </tr>
    <tr class="border-bottom">
      <td colspan="100%"><b><i>Description: </i></b><span id="step-description-__prefix__">Not yet defined</span></td>
    </tr>
  </table>

  <table id="empty-form" style="display:none">
    {% for field in formset.empty_form %}
    {% if field.name in 'name,field,execution_order,input_type,comparison_operator,comparison_value' %}
    <tr>
      <th>{{ field.label }}</th>
      <td>
        {{ field }}
        {{ field.errors }}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

  <input class="ddm-btn" type="submit" value="Save Blueprint">
</form>
{% endblock %}



{% block breadcrumbs %}
<a href="{% url 'project-list' %}">Projects</a> /
<a href="{% url 'project-detail' project_pk %}">"{{ project.name|truncatechars:15 }}" Project</a> /
<a href="{% url 'blueprint-list' project_pk %}">Donation Blueprints</a> /
Edit Blueprint
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  updateRuleDescription = function(id) {
    const id_prefix = "id_processingrule_set-" + id + "-";
    const field = $("[id^=" + id_prefix + "field]").val();
    const operator = $("[id^=" + id_prefix + "comparison_operator]").val()
    const comp_value = $("[id^=" + id_prefix + "comparison_value]").val()

    let msg = "";
    if (field !== "") {
      if (operator === "" && field !== ""){
        msg = "Keep field '" + field + "' in uploaded data."
      } else if (operator === "regex") {
        msg = "Delete parts of " + field + "-value that match the following regex expression: " + comp_value + "."
      } else {
        msg = "Delete row if current value of field '" + field + "' " + operator + " " + comp_value + "."
      }
      $("[id=step-description-" + id + "]").html(msg);
    }
  };

  $( document ).ready(function() {
    // get all IDs
    let IDs = new Set();
    $("[id^=id_processingrule_set-]").each(function() {
      if( /\d/.test($( this ).attr("id"))) {
        IDs.add($( this ).attr("id").match(/\d/)[0]);
      }
    });
    for (const id of IDs) {
      updateRuleDescription(id);
    }
  });

  updateFieldValue = function(id) {

  }

  $("body").on("focusout", "[id^=id_processingrule_set-]", function() {
    const current_id = $( this ).attr("id").match(/\d/)[0];
    updateRuleDescription(current_id);
    updateFieldValue($(this).attr("id"));
  });

  $('#add-inline-form').on("click", function() {
    let IDs = [];
    $("[id^=id_processingrule_set-]").each(function() {
      if( /\d/.test($( this ).attr("id"))) {
        IDs.push($( this ).attr("id").match(/\d/)[0]);
      }
    });
    let formIdx;
    if (!IDs.length) {
      formIdx = 1;
    } else {
      formIdx = Math.max(...IDs) + 1;
    }
    console.log(formIdx)

    // Add new modal.
    let newModal = $("[id^=configuration-]").first().clone();
    newModal.attr("id", "configuration-" + formIdx );
    newModal.find( "table" ).replaceWith($('#empty-form').html().replace(/__prefix__/g, formIdx));
    $("[id^=configuration-]").last().after(newModal);

    // Add new form placeholder.
    let newPlaceholder = $("#empty-form-placeholder").find('tbody:first');
    $('#inlineform-table > tbody:last-child').append(newPlaceholder.html().replace(/__prefix__/g, formIdx));

    // Update management form.
    $('#id_processingrule_set-TOTAL_FORMS').val(parseInt(formIdx) + 1);
  });
</script>
{% endblock scripts %}
