include LICENSE
include README.md
recursive-include docs *
recursive-include ddm/static *
recursive-include ddm/templates *
recursive-include ddm/locale *
recursive-include ddm/auth/static *
recursive-include ddm/auth/templates *
recursive-include ddm/auth/locale *
recursive-include ddm/core/static *
recursive-include ddm/core/templates *
recursive-include ddm/core/locale *
recursive-include ddm/datadonation/static *
recursive-include ddm/datadonation/templates *
recursive-include ddm/datadonation/locale *
recursive-include ddm/encryption/static *
recursive-include ddm/encryption/templates *
recursive-include ddm/encryption/locale *
recursive-include ddm/logging/static *
recursive-include ddm/logging/templates *
recursive-include ddm/logging/locale *
recursive-include ddm/participation/static *
recursive-include ddm/participation/templates *
recursive-include ddm/participation/locale *
recursive-include ddm/projects/static *
recursive-include ddm/projects/templates *
recursive-include ddm/projects/locale *
recursive-include ddm/questionnaire/static *
recursive-include ddm/questionnaire/templates *
recursive-include ddm/questionnaire/locale *
