{% extends 'ddm_core/page_with_form.html' %}

{% block page_title %}Create Instruction Page for Uploader "{{ file_uploader.name }}"{% endblock page_title %}

{% block main_heading %}Create Instruction Page{% endblock main_heading %}

{% block cancel_target %}{% url 'ddm_datadonation:instructions:overview' project_url_id file_uploader.pk %}{% endblock cancel_target %}

{% block form_content %}
  {{ form.non_field_errors }}

  <div id="project-details" class="ddm-section-container">
    <div class="row">
      {% include "ddm_core/form_components/_basic_field.html" with field=form.index %}
      {% include "ddm_core/form_components/_basic_field.html" with field=form.text %}
    </div>
  </div>
{% endblock form_content %}
