<tr>
  {% with hide_label=True extra_field_classes="mt-0" %}
    <td>{% include "ddm_core/form_components/_basic_field.html" with field=form.index %}</td>
    <td>{% include "ddm_core/form_components/_basic_field.html" with field=form.value %}</td>
    <td>{% include "ddm_core/form_components/_basic_field.html" with field=form.input_label %}</td>
    <td>{% include "ddm_core/form_components/_basic_field.html" with field=form.heading_label %}</td>
    <td>{% include "ddm_core/form_components/_basic_field.html" with field=form.secondary_point %}</td>
    <td>{% include "ddm_core/form_components/_basic_field.html" with field=form.DELETE %}</td>
  {% endwith %}

  {% for hidden in form.hidden_fields %}
    <td>{{ hidden }}</td>
  {% endfor %}

</tr>