<div id="copy-question-section" class="ddm-section-container">
  <div class="row">
    <div class="form-section-heading">
      <h2>Copy Question</h2>
    </div>

    <div class="col-auto">
      <form
        method="post"
        action="{% url 'ddm_questionnaire:copy' project_url_id object.question_type object.pk %}"
        onsubmit="this.querySelector('button').disabled = true;"
      >
        {% csrf_token %}
        <button
          class="ddm-btn-base ddm-btn-secondary"
          type="submit"
        >
          Create a copy of this question
        </button>
      </form>
    </div>

  </div>
</div>
