{% if object.get_active_filters %}
  <p class="ddm-form-group-header mt-0 fw-500">Question will be hidden if:</p>
  <div class="ddm-form-group">

    <code>
      {% for c in object.get_active_filters %}
        {% if not forloop.first %}<span class="secondary-code-color">{{ c.combinator }}</span>{% endif %}
        {{ c.get_source_name }} {{ c.condition_operator }} {{ c.condition_value }}
      {% endfor %}
    </code>

  </div>
{% else %}
  <p class="fw-normal fs-09">
    No filter conditions defined.
  </p>
{% endif %}

<p class="helptext fc-red mt-4">
  <i class="bi bi-exclamation-diamond-fill"></i> Make sure to save any changes before editing the filters
</p>

{% if object.get_active_filters %}
  <p class="mt-4">
    <a class="internal-link" href="{% url 'ddm_questionnaire:question_filters' project_url_id object.question_type object.pk %}">
      Edit Filter Conditions
    </a>
  </p>

{% else %}
  <p class="mt-2">
    <a class="internal-link" href="{% url 'ddm_questionnaire:question_filters' project_url_id object.question_type object.pk %}">
      Add Filter Conditions
    </a>
  </p>

{% endif %}