{% extends "ddm/admin/forms/base_form.html" %}
{% load i18n admin_urls static admin_modify ddm_tags %}

{% block side_nav %}
  {% include 'ddm/admin/navigation/side_navigation/level_1_questionnaires.html' %}
  {% include 'ddm/admin/navigation/side_navigation/level_2_questionnaire.html' %}
  {% include 'ddm/admin/navigation/side_navigation/level_3_page.html' %}
  {% include 'ddm/admin/navigation/side_navigation/level_4_question.html' %}
{% endblock side_nav %}

{% block page_title %}
  Update Question "{{ question.name }}"
{% endblock page_title %}

{% block page_subtitle %}
  {{ question.get_question_type_display|title }} Question
{% endblock page_subtitle %}
