{% extends 'ddm_core/base.html' %}

{% block page_title %}Data Donation Overview{% endblock page_title %}

{% block main_heading %}Data Donation Overview{% endblock main_heading %}

{% block sub_heading %}
  <p>
    Data donations from participants are collected through <code class="bg-white">Uploaders</code>.
    Each Uploader is associated with a set of <code class="bg-white">Donation Instructions</code>
    and one or multiple <code class="bg-white">Blueprints</code>.
  </p>

  {% include "ddm_core/components/info_collapsible.html" with element_id="ulbps" extra_classes="white" title="Learn more about Uploaders and Blueprints" include_path="ddm_datadonation/text_uploader_and_blueprints.html" body="" %}
{% endblock sub_heading %}

{% block main_body %}
  <div class="ddm-section-container">
    <div class="row">
      <div class="section-heading">
        <h2>Uploader Configuration</h2>
        <p>Manage uploaders and their associated blueprints</p>
      </div>

      <div>
        {% include "ddm_datadonation/overview/uploader_table.html" %}
        <a class="ddm-btn-base ddm-btn-green" href="{% url 'ddm_datadonation:uploaders:create' project.url_id %}">Create Uploader</a>
        <a class="ddm-btn-base ddm-btn-green" href="{% url 'ddm_datadonation:blueprints:create' project.url_id %}">Create Blueprint</a>
        <a class="ddm-btn-base ddm-btn-secondary" href="{% url 'ddm_datadonation:uploaders:import' project.url_id %}">Import Uploader</a>
        <a class="ddm-btn-base ddm-btn-secondary" href="{% url 'ddm_datadonation:blueprints:import' project.url_id %}">Import Blueprint</a>
      </div>

    </div>
  </div>

  <div class="ddm-section-container ddm-section-collapsible">

    {% with content_include_path="ddm_datadonation/overview/unassociated_blueprints.html" n_blueprints=lonely_blueprints.count|stringformat:"s" %}
      {% with accordion_description='<span class="badge-grey">'|add:n_blueprints|add:"</span>" %}
        {% include "ddm_core/components/accordion_card.html" with accordion_id="unassociatedBlueprintsAcc" accordion_title="Unassociated Blueprints" %}
      {% endwith %}
    {% endwith %}

  </div>

  <div class="ddm-section-container ddm-section-collapsible">
    {% with content_include_path="ddm_datadonation/overview/advanced_options.html" %}
      {% include "ddm_core/components/accordion_card.html" with accordion_id="advancedOptionsAcc" accordion_title="Advanced Options" %}
    {% endwith %}
  </div>

{% endblock main_body %}
