{% extends 'ddm_core/base.html' %}

{% block page_title %}Data Donation Overview{% endblock %}

{% block main_heading %}Data Donation Overview{% endblock %}

{% block main_body %}
  <div class="ddm-admin-section">
    <div>
      <p>Data donations from participants are collected through <i>Uploaders</i>. Each Uploader is associated with a set of <i>Donation Instructions</i> and one or multiple <i>Blueprints</i>.</p>

      {% include "ddm_core/components/info_collapsible.html" with element_id="ulbps" title="More about Uploaders and File Blueprints" include_path="ddm_datadonation/text_uploader_and_blueprints.html" body="" %}

    </div>
  </div>

  <div class="ddm-admin-section">
    <div class="ddm-admin-section-header">Uploader Configuration</div>
    <div class="ddm-admin-section-body">
      {% include "ddm_datadonation/overview/uploader_table.html" %}
      <a class="ddm-btn-base ddm-btn-green" href="{% url 'ddm_datadonation:uploaders:create' project.url_id %}">Create Uploader</a>
      <a class="ddm-btn-base ddm-btn-green" href="{% url 'ddm_datadonation:blueprints:create' project.url_id %}">Create Blueprint</a>
    </div>
  </div>

  {% with content_include_path="ddm_datadonation/overview/unassociated_blueprints.html" n_blueprints=lonely_blueprints.count|stringformat:"s" %}
    {% with accordion_description="Number of unassociated blueprints: "|add:n_blueprints %}
      {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4" accordion_id="unassociatedBlueprintsAcc" accordion_title="Unassociated Blueprints" %}
    {% endwith %}
  {% endwith %}

  {% with content_include_path="ddm_datadonation/overview/advanced_options.html" %}
    {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4 narrow-accordion" accordion_id="advancedOptionsAcc" accordion_title="Advanced Options" %}
  {% endwith %}

  <div>
    <a href="{% url 'ddm_projects:detail' project.url_id %}"><i class="bi bi-arrow-left-short"></i> Back</a>
  </div>

{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'ddm_projects:list' %}">Projects</a><i class="bi bi-chevron-right"></i>
  <a href="{% url 'ddm_projects:detail' project.url_id %}">"{{ project.name|truncatechars:15 }}" Project</a><i class="bi bi-chevron-right"></i>
  Data Donation Overview
{% endblock %}
