<div class="modal" id="{{ modal_id }}" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="fw-bold">Rule Configuration</h4>

        {% include "ddm_datadonation/blueprint/form_sections/partials/_extraction_rule_form.html" %}

        <div class="modal-footer">
          <button id="ddm-modal-cancel-{{ button_id }}" type="button" class="ddm-btn-base ddm-btn-secondary ddm-modal-cancel">Cancel</button>
          <button id="ddm-modal-ok-{{ button_id }}" type="button" class="ddm-btn-base ddm-btn-green ddm-modal-ok">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
