@use '../abstracts' as *;

.settings-card,
.project-setup-card-wrapper {
  margin-bottom: 1rem;
}

.project-setup-card-wrapper {
  @media (min-width: $bp-lg) {
    margin-bottom: 0;
  }
}

.card-base,
.settings-card,
.blueprint-card,
.project-setup-card {
  border-radius: 10px;
  background: var(--bg-color-lightgrey);
  border: 1.5px solid var(--border-color-lightgrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  text-align: center;
  position: relative;
  height: 100%;

  &:hover {
    border: 1.5px solid var(--color-main-green-brighter);
    box-shadow: rgba(0, 0, 0, 0.04) 0 1px 4px;
  }

  p {
    color: var(--font-color-grey);
    font-size: 0.9rem;
  }

}

.card-base {
  text-align: left;
  align-items: start;
  justify-content: flex-start;
  height: 100%;

  h2, h3, h4, h5, h6 {
    font-size: 1rem;
  }

  &:hover {
    border: 1.5px solid var(--border-color-lightgrey);
    box-shadow: none;
  }

  a {
    font-weight: 500;

    .bi {
      font-size: 0.9rem;
    }
  }
}

.project-setup-card {
  h4 {
    font-size: 1.15rem;
  }
}

.data-collection-config-section {

  @media (min-width: $bp-lg) {
    .project-setup-card-wrapper:not(:last-child) {
      padding-right: 30px;
      position: relative;

      &::after {
        font-family: "bootstrap-icons";
        font-weight: 500;
        content: "\F27B";
        margin-left: 5px;
        position: absolute;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        font-size: 1.8rem;
        color: var(--border-color-lightgrey);
      }

    }
  }
}

.settings-card {
  h4 {
    font-size: 1rem;
    color: var(--font-color-main);
  }
}

.card-link:hover .ddm-if-icon {
  background: var(--color-main-green-darker);
  -webkit-background-clip: text;
}

.stats-wrapper {
  border-radius: 10px;
  background: var(--bg-color-lightgrey);
  border: 1.5px solid var(--border-color-lightgrey);
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: clip;
}

.stats-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: var(--font-color-grey);
  border-right: 1px solid var(--border-color-lightgrey);
  border-left: 1px solid var(--border-color-lightgrey);
  border-bottom: 1px solid var(--border-color-lightgrey);
  height: 100%;

  h3,
  h4 {
    font-size: 0.9rem;
    color: var(--font-color-muted);
    letter-spacing: 0.08em;
  }

  &:hover {
    border: none;
    box-shadow: none;
  }

  .statistic {
    color: var(--font-color-main);
    font-size: 1.15rem;
    font-weight: 600;

    span {
      color: var(--font-color-muted);
    }
  }

}

.blueprint-card {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 15px;
  text-align: left;
  align-items: start;

  font-weight: 500;
  font-size: 0.9rem;
  color: var(--font-color-grey);
}

.backup-blueprint-card-container {
  padding-left: 20px;
}
