{% extends 'ddm/project_admin/generic/page_with_form.html' %}

{% block page_title %}Create Instruction Page for {{ blueprint_type }} "{{ blueprint.name }}"{% endblock %}

{% block main_heading %}Create New Donation Blueprint{% endblock %}

{% block submit_label %}Create Instruction Page{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'project-list' %}">Projects</a> /
<a href="{% url 'project-detail' blueprint.project.pk %}">"{{ blueprint.project.name|truncatechars:15 }}" Project</a> /
<a href="{% url 'blueprint-list' blueprint.project.pk %}">"{{ blueprint.name|truncatechars:15 }}" Blueprint</a> /
Create Instruction Page
{% endblock %}
