{% extends 'ddm/project_admin/base.html' %}

{% block page_title %}Donation Instructions{% endblock %}

{% block main_heading %}Instructions for {{ blueprint_type }} "{{ blueprint.name }}"{% endblock %}

{% block main_body %}
<div class="ddm-admin-section">
  <div class="ddm-admin-section-header"></div>
  <div class="ddm-admin-section-body">
    <p>Number of pages: {{ instructions | length }}</p>

    <div class="container border-bottom mb-4">
      {% for page in instructions %}
      <div class="row border-top py-2">
        <div class="col-2 border-end">
          <h4>Page {{ page.index }}</h4>
          <a href="{% url 'instruction-edit' blueprint.project.pk blueprint.get_slug blueprint.pk page.pk %}">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="{% url 'instruction-delete' blueprint.project.pk blueprint.get_slug blueprint.pk page.pk %}">Delete</a>
        </div>
        <div class="col bg-white">
          {{ page.text | safe }}
        </div>
      </div>
      {% empty %}
      <tr><td>No Instructions defined.</td></tr>
      {% endfor %}
    </div>
    <a class="ddm-btn" href="{% url 'instruction-create' blueprint.project.pk blueprint.get_slug blueprint.pk %}"><b>+</b>&nbsp;&nbsp;Add Instruction Page</a>
  </div>
</div>
{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'project-list' %}">Projects</a> /
<a href="{% url 'project-detail' project_pk %}">"{{ project.name|truncatechars:15 }}" Project</a> /
<a href="{% url 'blueprint-list' blueprint.project.pk %}">"{{ blueprint.name|truncatechars:15 }}" Blueprint</a> /
Instructions
{% endblock %}
