{% extends "ddm_core/page_with_form.html" %}

{% block page_title %}Edit {{ context_title }}{% endblock %}

{% block main_heading %}Edit {{ context_title }} for "{{ question.name }}"{% endblock %}

{% block main_form %}
<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <table class="table mt-4 item-set-table border-bottom">

    {% for form in formset.forms %}

    {% if forloop.first %}
    <thead>
    <tr>
      {% for field in form.visible_fields %}
        <th
            {% if field.label in "Index,Value" %}
              class="num-input-col"
            {% elif field.label in "Randomize,Löschen,Add border,Delete" or field.label == "Löschen" %}
              class="check-input-col"
            {% endif %}
        >{{ field.label }}</th>
      {% endfor %}
    </tr>
    </thead>
    {% endif %}

    {% if form.non_field_errors %}
      <tr><td class="border-bottom-0">{{ form.non_field_errors }}</td></tr>
    {% endif %}

    <tr class="border-bottom-0">
      {% for field in form.visible_fields %}
      <td class="border-bottom-0">
        {% if forloop.first %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% endif %}
        {{ field.errors.as_ul }}
        {{ field }}
      </td>
      {% endfor %}
    </tr>

    {% endfor %}
  </table>
  <input class="ddm-btn" type="submit" value="Update {{ context_title }}">
  <p class="mt-3">
    <a href="{% url 'ddm_questionnaire:edit' project_url_id question.question_type question.pk %}">&#129040; Back</a>
  </p>
</form>
{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'ddm_projects:list' %}">Projects</a> /
<a href="{% url 'ddm_projects:detail' project_url_id %}">"{{ project.name|truncatechars:15 }}" Project</a> /
<a href="{% url 'ddm_questionnaire:overview' project_url_id %}">Questionnaire</a> /
<a href="{% url 'ddm_questionnaire:edit' project_url_id question.question_type question.pk %}">Question</a> /
Items
{% endblock %}

