<p class="mt-1">
  <code>Extraction Rules</code> are applied to the data located at the defined <code>Extraction Root</code> row-by-row in the order you define them.
  If no rules are configured, no data is extracted.
  All extraction happens on the participant's device using JavaScript.
</p>

<p>Configuring extraction:</p>
<ol class="mb-4 mt-2">
  <li>For each field you want to keep, add a rule with the <code>Keep field</code> operator.</li>
  <li>Add additional rules to filter (delete rows) or transform values using comparison or regex operators.</li>
</ol>

<div class="mt-1">
  {% include "ddm_core/form_components/_basic_field.html" with field=form.json_extraction_root %}
</div>

<p class="pt-2 fs-08"><b>Extraction Rules:</b></p>

{{ rule_formset.management_form }}

{{ rule_formset.non_form_errors }}

{% include "ddm_datadonation/blueprint/form_sections/_extraction_rule_table.html" %}

<div class="mt-3 mb-3">
  {% include "ddm_core/components/info_collapsible.html" with element_id="dataextraction" title="Extraction rule options" include_path="ddm_datadonation/blueprint/info_collapsibles/block_data_extraction.html" body="" %}
</div>

<div class="mb-3 fs-4">
  <a id="add-inline-form" class="ddm-btn ddm-btn-inverted" type="button">Add Extraction Rule</a>
</div>

{% for form in rule_formset %}
  {% with modal_id_postfix=forloop.counter0|stringformat:"i" button_id_postfix=forloop.counter0|stringformat:"i" %}
    {% include "ddm_datadonation/processing_rule_modal.html" with modal_id="configuration-"|add:modal_id_postfix form=form button_id=""|add:button_id_postfix %}
  {% endwith %}
{% empty %}
  {% include "ddm_datadonation/processing_rule_modal.html" with modal_id="configuration-template" form=rule_formset.empty_form button_id="__prefix__" %}
{% endfor %}

{% include "ddm_datadonation/blueprint/form_sections/_extraction_rule_empty_form.html" %}

<div id="empty-form">
  <div class="rule-configuration-form">
  {% include "ddm_datadonation/blueprint/form_sections/_extraction_rule_form.html" with form=rule_formset.empty_form %}
  </div>
</div>
