<div id="file-validation-section" class="ddm-section-container">
  <div class="row">
    <div class="form-section-heading">
      <h2>File Validation</h2>
      <p>Configure how an identified file is validated</p>
    </div>
    {% include "ddm_core/form_components/_basic_field.html" with field=form.exp_file_format %}
    {% include "ddm_core/form_components/_basic_field.html" with field=form.csv_delimiter %}
    {% include "ddm_core/form_components/_basic_field.html" with field=form.expected_fields %}
    {% include "ddm_core/form_components/_checkbox_toggle_field.html" with field=form.expected_fields_regex_matching %}

    <div>
      {% include "ddm_core/components/info_collapsible.html" with extra_classes="mx-0" element_id="filevalidation" title="How the file validation works" include_path="ddm_datadonation/blueprint/info_collapsibles/block_file_validation.html" body="" %}
    </div>
  </div>
</div>