{% extends 'ddm/research_interface/base.html' %}

{% block main %}
<h1>Delete "{{ object.name }}"</h1>

<div>
    <form method='post'>
        {% csrf_token %}
        <p>You are about to delete the following project:</p>
        <div>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Slug:</td>
                    <td>{{ object.slug }}</td>
                </tr>
                <tr>
                    <td>Intro Text:</td>
                    <td>{{ object.intro_text }}</td>
                </tr>
                <tr>
                    <td>Outro Text:</td>
                    <td>{{ object.outro_text }}</td>
                </tr>
            </table>
        </div>
        <p>All collected data associated with this project will also be deleted. This action cannot be reversed.</p>
        <p>Are you sure you want to delete this project?</p>
        <input type="submit" value="Confirm">
    </form>
</div>

<div>
    <p><a href="{% url 'project-detail' object.pk %}">Back to Project</a></p>
</div>
{% endblock %}
