{% extends 'ddm/research_interface/base.html' %}

{% block main %}
<h1>{{ object.name }}</h1>
<p><a href="{% url 'project-list' %}">Show All Projects</a></p>
<hr>
<div>
    <h2>Details</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Slug:</td>
            <td>{{ object.slug }}</td>
        </tr>
        <tr>
            <td>Public Access:</td>
            <td><a href="{% url 'project-entry' object.slug %}">{{ request.scheme }}://{{ request.get_host }}{% url 'project-entry' object.slug %}</a></td>
        </tr>
    </table>
    <p><a class="btn-a" href="{% url 'project-edit' object.pk %}">Edit Project Details</a></p>
</div>

<hr>
<div>
    <h2>Project Setup</h2>
    <div class="container">
        <div class="row d-flex align-items-stretch">
            <div class="project-setup-card">
                <div><h3 class="text-center">Welcome Page</h3></div>
                <div><i class="bi bi-door-open fs-1"></i></div>
            </div>
            <div class="project-setup-filler">
                <i class="bi bi-arrow-right-short fs-1"></i>
            </div>
            <div class="project-setup-card">
                <h3 class="text-center">Data Donation</h3>
                <i class="bi bi-box2-heart fs-1"></i>
            </div>
            <div class="project-setup-filler">
                <i class="bi bi-arrow-right-short fs-1"></i>
            </div>
            <div class="project-setup-card">
                <h3 class="text-center">Questionnaire</h3>
                <i class="bi bi-pencil-square fs-1"></i>
            </div>
            <div class="project-setup-filler">
                <i class="bi bi-arrow-right-short fs-1"></i>
            </div>
            <div class="project-setup-card">
                <h3 class="text-center">End Page</h3>
                <i class="bi bi-door-closed fs-1"></i>
            </div>
        </div>
    </div>
</div>

<hr>
<div>
    <h2>Data Center</h2>
    <p>Statistics</p>
    <p>Download Section</p>
</div>

<hr>
<div>
    <h2>Danger Zone</h2>
    <p><a class="btn-a btn-danger" href="{% url 'project-delete' object.pk %}">Delete Project</a></p>
</div>

<hr>
{% endblock %}
