{% extends "ddm/admin/forms/base_delete_form.html" %}
{% load i18n admin_urls static admin_modify ddm_tags %}

{% block side_nav %}
  {% include 'ddm/admin/navigation/side_navigation/level_1_questionnaires.html' %}
  {% include 'ddm/admin/navigation/side_navigation/level_2_questionnaire.html' %}
  {% include 'ddm/admin/navigation/side_navigation/level_3_page.html' %}
{% endblock side_nav %}

{% block page_title %}
  Delete Page "{{ page.name }}"
{% endblock page_title %}

{% block page_subtitle %}
  {{ page.get_page_type_display|title }} Page
{% endblock page_subtitle %}

