{% extends 'ddm_core/page_with_form.html' %}

{% load static %}

{% block page_title %}Create Blueprint{% endblock page_title %}

{% block main_heading %}Create Blueprint{% endblock main_heading %}

{% block cancel_target %}{% url 'ddm_datadonation:overview' project.url_id %}{% endblock cancel_target %}

{% block form_content %}

  {% if form.errors or rule_formset.errors or path_formset.errors %}
    {% include "ddm_core/form_components/_general_form_errors.html" with override_standard_errors=True %}
  {% endif %}

  {{ form.non_field_errors }}

  {# General Settings #}
  {% include "ddm_datadonation/blueprint/form_sections/general_settings.html" %}

  {# Display Settings #}
  {% include "ddm_datadonation/blueprint/form_sections/display_settings.html" %}

  <h5 class="mt-5 fw-bold mb-3 fc-grey">Data Extraction Configuration</h5>
  <div class="row">
    <div class="col-sm-1 data-flow-container">
      <div class="data-flow-border-top"></div>
      <div><i class="bi bi-1-circle-fill"></i></div>
      <div class="data-flow-border-bottom"></div>
    </div>

    <div class="col-12 col-sm-11">
      {# File Identification #}
      {% include "ddm_datadonation/blueprint/form_sections/file_identification.html" %}
    </div>

    <div class="col-sm-1 data-flow-container">
      <div class="data-flow-border-top"></div>
      <div><i class="bi bi-2-circle-fill"></i></div>
      <div class="data-flow-border-bottom"></div>
    </div>

    <div class="col-12 col-sm-11">
      {# File Validation #}
      {% include "ddm_datadonation/blueprint/form_sections/file_validation.html" %}
    </div>

    <div class="col-sm-1 data-flow-container">
      <div class="data-flow-border-top"></div>
      <div><i class="bi bi-3-circle-fill"></i></div>
      <div class="data-flow-border-bottom border-0"></div>
    </div>

    <div class="col-12 col-sm-11">
      {# Data Extraction #}
      {% include "ddm_datadonation/blueprint/form_sections/data_extraction_create.html" %}
    </div>

    {# Advanced Settings #}
    {% include "ddm_datadonation/blueprint/form_sections/advanced_settings.html" %}

  </div>

{% endblock form_content %}

{% block scripts %}
  {{ block.super }}
  {{ file_uploader_meta|json_script:'file_uploader_meta' }}
  <script src="{% static 'ddm_datadonation/js/blueprint-general-ui-helpers.js' %}"></script>
  <script src="{% static 'ddm_datadonation/js/file-path-form-helper.js' %}"></script>
  <script src="{% static 'ddm_datadonation/js/accordion-form-error-indicator.js' %}"></script>
{% endblock scripts %}
