{% extends 'ddm_core/page_with_form.html' %}

{% block page_title %}Delete Blueprint{% endblock page_title %}

{% block main_heading %}Delete Blueprint "{{ object.name }}"?{% endblock main_heading %}

{% block form_content %}

    <div class="ddm-section-container">
    <div class="row">
      {{ form.non_field_errors }}

        <p>This will:</p>

        <ul>
          <li>Permanently delete this Blueprint</li>
          {% with questions=object.questionbase_set.all %}
            {% if questions %}<li>Delete the following associated Questions: {% for question in questions %}{{ question.name }}{% endfor %}</li>{% endif %}
          {% endwith %}
        </ul>

        <p>If you are unsure, you can also unassign the Blueprint from any Uploaders in the Blueprint menu.</p>

    </div>
  </div>

{% endblock form_content %}

{% block main_form %}{% endblock main_form %}
