.ddm-accordion {
    background: transparent;
}

.ddm-accordion-header {
    margin-top: 0 !important;
}

.ddm-accordion-item {
    background: transparent;
}
.ddm-accordion-item.has-error {
    border: 2px solid var(--color-darkred);
}

.ddm-accordion-btn {
    -webkit-appearance: none;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    border-style: none;
    background-color: var(--bg-color-light);
}

.ddm-accordion-btn .ddm-accordion-description {
    color: black;
}

.ddm-accordion-btn:hover {
    background-color: rgb(243, 243, 243);
}
.ddm-accordion-btn:not(.collapsed) {
    color: black;
    background-color: var(--bg-color-light);
}
.ddm-accordion-btn:not(.collapsed) .ddm-accordion-description {
    color: #767676;
}

.ddm-accordion-btn:not(.collapsed):hover {
    background-color: rgb(239, 239, 239);
}

.ddm-accordion-btn.has-error {
    background-color: #ffe3e3;
}
.ddm-accordion-btn.has-error:not(.collapsed) {
    background-color: #ffe3e3;
}

.ddm-accordion-btn[disabled]:hover {
    background-color: var(--bg-color-light);
}
.ddm-accordion-btn[disabled]::after {
    display: none;
}
.ddm-accordion-btn[disabled] .ddm-accordion-description {
    color: #767676;
}
.ddm-accordion-btn::after{
    content: "\F285";
    margin-left: auto;
    font-family: "bootstrap-icons";
    font-size: 1.5rem;
    display: inline-block;
    color: black;
    transition: transform .2s ease-in-out;
}
.ddm-accordion-btn:not(.collapsed)::after {
    margin-left: auto;
    font-family: "bootstrap-icons";
    transition: transform .2s ease-in-out;
    transform: rotate(90deg);
}
.ddm-accordion-title {
    font-weight: bold;
    font-size: 1rem;
}
.ddm-accordion-title-width-control {
    width: 30%;
}
@media (min-width: 768px) {
    .ddm-accordion-title-width-control {
        width: 25%;
    }
}
@media (min-width: 992px) {
    .ddm-accordion-title-width-control {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .ddm-accordion-title-width-control {
        width: 15%;
    }
}
.ddm-accordion-description {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: normal;
}
.narrow-accordion .ddm-form-section-header {
    padding: 0.25rem 0.75rem !important;
}

.ddm-accordion-footer {
    background: var(--bg-color-light);
    margin-bottom: 2rem;
    padding: 0.5rem 0.5rem;
}