.ddm-accordion {
  background: transparent;
}

.ddm-accordion-header {
  margin-top: 0 !important;
}

.ddm-accordion-item {
  background: transparent;
}
.ddm-accordion-item.has-error {
  border: 2px solid var(--color-darkred);
}

.ddm-accordion-btn {
  -webkit-appearance: none;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--bg-color-lightgrey);
  width: 100%;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  border: 1.5px solid var(--border-color-lightgrey);

  &:hover {
    background-color: rgb(243, 243, 243);
  }

  &:not(.collapsed) {
    color: black;
    background-color: var(--bg-color-lightgrey);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }

  :not(.collapsed):hover {
    filter: brightness(85%);
  }

  &::after{
    content: "\F285";
    margin-left: auto;
    font-family: "bootstrap-icons";
    font-size: 1.5rem;
    display: inline-block;
    color: var(--font-color-grey);
    transition: transform .2s ease-in-out;
  }
  &:not(.collapsed)::after {
    margin-left: auto;
    font-family: "bootstrap-icons";
    transition: transform .2s ease-in-out;
    transform: rotate(90deg);
  }

}

.ddm-accordion-btn .ddm-accordion-description {
  color: var(--font-color-main);
}

.ddm-accordion-btn.has-error {
  background-color: #ffe3e3;
}
.ddm-accordion-btn.has-error:not(.collapsed) {
  background-color: #ffe3e3;
}

.ddm-accordion-btn[disabled] {
  &:hover {
    background-color: var(--bg-color-light);
  }

  &::after {
    display: none;
  }

  .ddm-accordion-description {
    color: #767676;
  }
}

.ddm-accordion-collapse {
  border: 1.5px solid var(--border-color-lightgrey);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem 1.5rem 1.5rem;
}


.ddm-accordion-description {
  font-size: 0.9rem;
  font-weight: normal;
}

.ddm-accordion-footer {
  background: var(--bg-color-light);
  margin-bottom: 2rem;
  padding: 0.5rem 0.5rem;
}
