@use '../abstracts' as *;

.btn-secondary {
  background-color: #1a1a1a !important;
  border: none !important;
}

.ddm-btn-base,
.ddm-btn-form-interaction {
  border-radius: 0.5rem;
  padding: 10px 15px !important;
  font-size: 0.9rem;
  text-decoration: none;
  text-wrap: nowrap;
  min-width: 150px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  border: 1.5px solid var(--color-greyish);
}

.ddm-btn-small {
  border-radius: 0.5rem;
  border: 0;
  padding: 3px 7px !important;
  font-size: 0.9rem;
  text-decoration: none;
  text-wrap: nowrap;
}

.ddm-btn-green {
  background: var(--color-main-green);
  border: 1.5px solid var(--color-main-green);
  // background: linear-gradient(178deg, var(--color-green-gradiant-brighter) 0%, var(--color-green-gradient-darker) 100%);
  color: white !important;

  &:hover {
    background: #106c67;
    color: white !important;
  }

}

.ddm-btn-green-inverted {
  background: white !important;
  color: var(--color-main-green-darker);
  border: 1px solid var(--color-main-green);

  &:hover {
    background: #f0fffc !important;
    color: var(--color-main-green-darker);
  }

}

.ddm-btn-secondary {
  border: 1.5px solid var(--color-greyish);
  color: var(--font-color-grey) !important;

  &:hover {
    background: var(--bg-color-lightest);
    color: var(--font-color-grey) !important;
  }
}


.ddm-btn-dark {
  background: linear-gradient(178deg, var(--color-grey-gradiant-brighter) 0%, var(--color-grey-gradient-darker) 100%);
  color: white !important;

  &:hover {
    background: rgb(24, 28, 28);
    color: white !important;
  }
}


.ddm-btn-inverted {
  color: var(--font-color-main) !important;
  border: 1.5px solid var(--border-color-lightgrey);
  background: var(--bg-color-lightest);
  &:hover {
    filter: brightness(95%);
  }
}

.ddm-btn-form-interaction {
  background: var(--color-main-green);
  padding: 6px 10px !important;
  border: 1.5px solid var(--color-greyish);
  color: white !important;

  &:hover {
    filter: brightness(102%);
  }
}

.ddm-btn-large {
  background: linear-gradient(142deg, rgb(0, 156, 148) 0%, rgba(0, 156, 148, 0.8) 100%);
  border-radius: 20px;
  padding: 10px;
  color: white !important;
  border: 0;

  &:hover {
    -webkit-filter: brightness(70%);
  }
}


.ddm-btn-red {
  background: var(--color-darkred);
  // background: linear-gradient(178deg, var(--color-red-gradiant-brighter) 0%, var(--color-red-gradient-darker) 100%);
  border: 0;
  color: white !important;

  &:hover {
    background: #6c0500;
    color: white !important;
  }
}


.ddm-btn-red-inverted {
  background: white !important;
  color: var(--color-darkred) !important;
  border: 1px solid var(--color-darkred);

  &:hover {
    background: #ffeaea !important;
    color: var(--color-darkred) !important;
  }
}



.ddm-btn-black-inverted {
  background: white !important;
  color: var(--font-color-main) !important;
  border: 1px solid var(--border-color-lightgrey);

  &:hover {
    filter: brightness(70%);
    color: var(--font-color-main) !important;
  }
}

.ddm-btn-group {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  row-gap: 2rem;

  .inner-btn-group {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
  }

  @media (min-width: $bp-sm) {
    .inner-btn-group {
      flex-direction: row;
      column-gap: 0.5rem;
    }
  }

  @media (min-width: $bp-md) {
    flex-direction: row;
    align-items: flex-end;
  }
}