.indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 2px;
}

.indicator-active {
    background: var(--color-active);
    box-shadow: 0 0 3px 0 #10b9814d;
}

.indicator-inactive {
    background: var(--color-inactive);
    box-shadow: 0 0 3px 0 rgba(185, 16, 16, 0.3);
}