.ddm-header {
  border-bottom: 1.5px solid var(--border-color-lightgrey);
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 100;
}

.ddm-nav-icon {
  color: var(--font-color-main) !important;
  font-size: 1.5rem;

  &:hover {
    color: var(--color-darkgrey) !important;
  }
}

.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
