.message-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.ddm-message {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 0.9rem;
  width: 350px;
  max-width: 30%;
  margin-bottom: 5px;
  opacity: 0;
  position: relative;
  top: 50px;
  z-index: 100;
}

.ddm-message-container {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 0;
  right: 0;

  .success {
    background: #c9eae8;
    border: 0;
    color: var(--color-main-green);
  }
}

.ddm-message-close {
  color: var(--color-main-green) !important;

  &:hover {
    filter: brightness(80%);
  }
}
