<div id="associated-blueprints" class="ddm-section-container">
  <div class="row">
    <div class="form-section-heading">
      <h2>Associated Blueprints</h2>
      <p>
        Select which of the following Blueprints belong to this Uploader. Please note that one Blueprint can only be
        assigned to one Uploader and Blueprints assigned to other Uploaders are not listed.
      </p>
    </div>

    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        {% for blueprint in blueprints %}
          <tr>
            <td>
              <input
                type="checkbox"
                id="bp-{{ blueprint.pk }}"
                name="bp-{{ blueprint.pk }}"
                {% if blueprint.file_uploader == object %}checked{% endif %}
              />
            </td>
            <td>
              <label for="bp-{{ blueprint.pk }}" class="ddm-choice-label">
                <span class="fs-09">{{ blueprint.name }}</span>
              </label>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td>
              <p class="m-0 fc-grey">
                No unassigned Blueprints available
              </p>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
