<div id="general-settings" class="ddm-section-container">
  <div class="row">
    <div class="form-section-heading">
      <h2>Base Settings</h2>
    </div>

    {% include "ddm_core/form_components/_basic_field.html" with field=form.upload_type %}
    {% include "ddm_core/form_components/_basic_field.html" with field=form.name %}

    <div
        id="file-uploader-zip-settings"
        class="container ddm-form-group"
        style="visibility: hidden; max-height: 0; opacity: 0; margin: 0; padding: 0;"  {# Added inline style for JS transition #}
    >
      <p class="ddm-form-group-header mb-4">Nested zip extraction</p>

      <div class="row mt-2">

        {% include "ddm_core/form_components/_checkbox_toggle_field.html" with field=form.extract_nested_zips %}
        {% include "ddm_core/form_components/_basic_field.html" with field=form.extraction_depth %}

      </div>
    </div>
  </div>
</div>