{% load static surquest_tags %}

{% with q_pk_str=q.pk|stringformat:'s' %}
  {% with q_var_name='q-'|add:q_pk_str %}

    {% if q_var_name in filtered_vars %}
      {% for i in q.get_ordered_items %}
        <input type="hidden" id="qs_{{ i.id }}_{{ qs }}" name="{{ i.variable_name }}" value="{{ missing_filtered_value }}">
      {% endfor %}

    {% else %}
      {% if q.question_text != None %}
        <div class="surquest-question-text">{{ q.question_text|insert_variable_response:submission|safe }}</div>
      {% endif %}
      {% if q.question_instruction != None %}
        <div class="surquest-question-instruction">{{ q.question_instruction|insert_variable_response:submission|safe }}</div>
      {% endif %}

      <div class="surquest-gq-response">
        {% if q_var_name in required_but_missing %}
          <div class="surquest-invalid-infobox">Bitte beantworten Sie alle Bestandteile dieser Frage.</div>
        {% endif %}

        <table class="dq-table">
          <thead>
          <tr style="border-top: none;">
            <th></th>
            {% for is in q.scale_points|get_scale_loop %}
              <th>{{ is|default_if_none:'' }}</th>
            {% endfor %}
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for i in q.get_ordered_items %}
            {% with qi_pk_str=i.pk|stringformat:'s' %}
              {% with qi_var_name='qi-'|add:qi_pk_str %}

                {% if qi_var_name in filtered_vars %}

                {% else %}
                  <tr {% if i.variable_name in required_but_missing %}class="surquest-invalid-tablerow"{% endif %}>
                    <td class="mq-table-td-item dq-table-td-item-left" data-label="">
                      {% if i.answer != None %}{{ i.answer|insert_variable_response:submission|safe }}{% endif %}
                    </td>

                    {% for qs in q.scale_points|get_scale_loop %}
                      <td class="dq-table-td-input">
                        <label for="qs_{{ i.id }}_{{ qs }}" data-label="{{ qs|default_if_none:'' }}">
                          <input type="radio" id="qs_{{ i.id }}_{{ qs }}" name="{{ i.variable_name }}" value="{{ qs }}" {% if q.required %}required{% endif %}
                                    {% for var, value in initial_data.items %}{% if var == i.variable_name and value == qs %}checked{% endif %}{% endfor %}>
                        </label>
                      </td>
                    {% endfor %}
                    <td class="mq-table-td-item dq-table-td-item-right" data-label="">
                      {{ i.answer_alt|insert_variable_response:submission|safe }}
                    </td>
                  </tr>
                {% endif %}

              {% endwith %}
            {% endwith %}

          {% endfor %}
          </tbody>
        </table>

        {% for i in q.get_ordered_items %}
          {% with qi_pk_str=i.pk|stringformat:'s' %}
            {% with qi_var_name='qi-'|add:qi_pk_str %}
              {% if qi_var_name in filtered_vars %}
                <input type="hidden" id="qs_{{ i.id }}_{{ qs }}" name="{{ i.variable_name }}" value="{{ missing_filtered_value }}">
              {% endif %}
            {% endwith %}
          {% endwith %}
        {% endfor %}

      </div>
    {% endif %}
  {% endwith %}
{% endwith %}
