{% load static cms_tags surquest_tags %}

{% with q_pk_str=q.pk|stringformat:'s' %}
  {% with q_var_name='q-'|add:q_pk_str %}

    {% if q_var_name in filtered_vars %}
      {% for i in q.get_ordered_items %}
        <input type="hidden" id="qs_{{ i.id }}_{{ qs }}" name="{{ i.variable_name }}" value="{{ missing_filtered_value }}">
      {% endfor %}

    {% else %}
      {% if q.question_text != None %}
        <div class="surquest-question-text">{{ q.question_text|insert_variable_response:submission|safe }}</div>
      {% endif %}
      {% if q.question_instruction != None %}
        <div class="surquest-question-instruction">{{ q.question_instruction|insert_variable_response:submission|safe }}</div>
      {% endif %}

      <div class="surquest-gq-response">
        {% if i.variable_name in required_but_missing %}
          <div class="surquest-invalid-infobox">Bitte beantworten Sie alle Bestandteile dieser Frage.</div>
        {% endif %}

        <table class="mq-table">
          <thead>
          <tr class="mq-header">
            <th></th>
            {% for scale_point in q.questionscale_set.all %}
              <th {% if scale_point.add_border %}class="mq-scale-border-left"{% endif %}>{{ scale_point.label|default_if_none:''|safe }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for i in q.get_ordered_items %}
            {% with qi_pk_str=i.pk|stringformat:'s' %}
              {% with qi_var_name='qi-'|add:qi_pk_str %}

                {% if i.variable_name in filtered_vars %}
                {% else %}
                  {% if q.scale_repetition != 0 and q.scale_repetition != None and forloop.counter0 != 0 %}
                    {% if forloop.counter0|divisibleby:q.scale_repetition %}
                      <tr class="mq-repeated-header">
                        <td></td>
                        {% for scale_point in q.questionscale_set.all %}
                          <td {% if scale_point.add_border %}class="mq-scale-border-left"{% endif %}>{{ scale_point.label|default_if_none:''|safe }}</td>
                        {% endfor %}
                      </tr>
                    {% endif %}
                  {% endif %}
                  <tr {% if i.variable_name in required_but_missing %}class="surquest-invalid-tablerow"{% endif %}>
                    <td class="mq-table-td-item" data-label="">{% if i.answer != None %}{{ i.answer|insert_variable_response:submission|safe }}{% endif %}</td>
                    {% for scale_point in q.questionscale_set.all %}
                      <td class="mq-table-td-input {% if scale_point.add_border %}mq-scale-border-left{% endif %}">
                        <label for="qs_{{ i.pk }}_{{ scale_point.pk }}" data-label="{{ scale_point.label|default_if_none:''|striptags }}">
                          <input type="radio" id="qs_{{ i.pk }}_{{ scale_point.pk }}" name="{{ i.variable_name }}" value="{{ scale_point.value }}" {% if q.required %}required{% endif %}
                                    {% for var, value in initial_data.items %}{% if var == i.variable_name and value|add:"0" == scale_point.value %}checked{% endif %}{% endfor %}>
                        </label>
                      </td>
                    {% endfor %}
                  </tr>

                {% endif %}

              {% endwith %}
            {% endwith %}
          {% endfor %}
          </tbody>
        </table>

        {% for i in q.get_ordered_items %}
          {% with qi_pk_str=i.pk|stringformat:'s' %}
            {% with qi_var_name='qi-'|add:qi_pk_str %}
              {% if i.variable_name in filtered_vars %}
                <input type="hidden" id="qs_{{ i.id }}_{{ qs }}" name="{{ i.variable_name }}" value="{{ missing_filtered_value }}">
              {% endif %}
            {% endwith %}
          {% endwith %}
        {% endfor %}
      </div>

    {% endif %}

  {% endwith %}
{% endwith %}
