{% load static cms_tags surquest_tags %}

{% with q_pk_str=q.pk|stringformat:'s' %}
  {% with q_var_name='q-'|add:q_pk_str %}

    {% if q_var_name in filtered_vars %}
      {% for i in q.get_ordered_items %}
        <input type="hidden" id="qs_{{ i.id }}_{{ qs }}" name="qi-{{ i.pk }}" value="{{ missing_filtered_value }}">
      {% endfor %}

    {% else %}
      {% if q.question_text != None %}
        <div class="surquest-question-text">{{ q.question_text|insert_variable_response:submission|safe }}</div>
      {% endif %}

      {% if q.question_instruction != None %}
        <div class="surquest-question-instruction">{{ q.question_instruction|insert_variable_response:submission|safe }}</div>
      {% endif %}

      <div class="surquest-gq-response surquest-cq-response">
        {% for i in q.get_ordered_items %}
          {% with qi_pk_str=i.pk|stringformat:'s' %}
            {% with qi_var_name='qi-'|add:qi_pk_str %}

              {% if i.variable_name in filtered_vars %}
              {% else %}
                <div class="surquest-choice-item form-check">
                  <label  class="form-check-label rb-cb-label" for="{{ i.variable_name }}">
                    <input class="form-check-input" type="checkbox" id="{{ i.variable_name }}" name="{{ i.variable_name }}" value="1" {% if q.required %}required{% endif %}
                        {% for var, value in initial_data.items %}{% if var == i.variable_name %}{% if value == "1" %}checked{% endif %}{% endif %}{% endfor %}>
                    {{ i.answer|insert_variable_response:submission|safe }}
                  </label>
                </div>
              {% endif %}

            {% endwith %}
          {% endwith %}
        {% endfor %}

        {% for i in q.get_ordered_items %}
          {% with qi_pk_str=i.pk|stringformat:'s' %}
            {% with qi_var_name='qi-'|add:qi_pk_str %}

              {% if i.variable_name in filtered_vars %}
                <input type="hidden" id="qs_{{ i.id }}_{{ qs }}" name="{{ i.variable_name }}" value="{{ missing_filtered_value }}">
              {% endif %}
            {% endwith %}
          {% endwith %}
        {% endfor %}

      </div>
    {% endif %}

  {% endwith %}
{% endwith %}
