{% load static cms_tags surquest_tags %}

{% with q_pk_str=q.pk|stringformat:'s' %}
  {% with q_var_name='q-'|add:q_pk_str %}

    {% if q.variable_name in filtered_vars %}
      <input type="hidden" id="q-{{ q.pk }}" name="{{ q.variable_name }}" value="{{ missing_filtered_value }}">
    {% else %}
      {% if q.question_text != None %}
        <div class="surquest-question-text">{{ q.question_text|insert_variable_response:submission|safe }}</div>
      {% endif %}
      {% if q.question_instruction != None %}
        <div class="surquest-question-instruction">{{ q.question_instruction|insert_variable_response:submission|safe }}</div>
      {% endif %}

      <div class="surquest-gq-response">
        {% if q.display_size == 'large' %}
          <textarea class="surquest-oq-textarea" id="q_{{ q.pk }}" name="{{ q.variable_name }}" {% if q.max_input_length != None %}maxlength = "{{ q.max_input_length }}"{% endif %} {% if q.required %}required{% endif %} chars="{{ q.input_format }}">{% for var, value in initial_data.items %}{% if var == q.variable_name %}{{ value }}{% endif %}{% endfor %}</textarea>
        {% elif q.display_size == 'small' %}
          <input class="surquest-oq-textline" type="text" id="q_{{ q.pk }}" name="{{ q.variable_name }}" value="{% for var, value in initial_data.items %}{% if var == q.variable_name %}{{ value }}{% endif %}{% endfor %}" {% if q.max_input_length != None %}maxlength = "{{ q.max_input_length }}"{% endif %} chars="{{ q.input_format }}" {% if q.required %}required{% endif %}>
        {% endif %}
      </div>

    {% endif %}

  {% endwith %}
{% endwith %}
