@use '../abstracts' as *;

#ddm-participation-body {

  h1 {
    font-weight: bold;

    @media (min-width: $bp-md) {
      font-size: 1.75rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 2rem;
    }
  }

  h2 {
    font-weight: 600;

    @media (min-width: $bp-md) {
      font-size: 1.5rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 1.75rem;
    }
  }

  h3 {
    font-weight: 400;

    @media (min-width: $bp-md) {
      font-size: 1.5rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 1.75rem;
    }
  }

  h4 {
    font-weight: 400;

    @media (min-width: $bp-md) {
      font-size: 1.25rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 1.5rem;
    }
  }

  background: var(--bg-color-light);
  font-family: var(--ff-text), sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .modal-dialog, .modal-content {
    min-height: 33vh;
    max-height: 800px;
  }
}

#ddm-participation-header {
  background: white;

  .project-title {
    font-weight: 500;
  }

  .project-logo {
    max-height: 40px;
    max-width: 100%;

    @media (min-width: $bp-md) {
      max-height: 50px;
    }

    @media (min-width: $bp-lg) {
      max-width: 100%;
    }

  }
}

#ddm-participation-main {
  .flow-btn {
    background-color: var(--color-main-green-darker);
    font-size: 1.1rem;
    min-width: 140px;
    float: right;
    color: white !important;
    transition: none;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    padding: .375rem;
    border-radius: var(--border-radius-components);
    border: none;
  }
  .flow-btn:hover {
      background-color: var(--color-main-green);
      color: white !important;
  }
  .step-chevron {
    font-size: 0.8rem;
  }

  a {
    color: var(--color-main-green-darker);
  }

  a:hover {
    color: var(--color-main-green);
  }
}

#ddm-participation-footer {
  font-size: 0.9rem;

  a {
    color: var(--color-lighter-grey);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: var(--font-color-muted);
  }
  a:hover {
    filter: brightness(50%);
  }
}

.form-check-input,
.form-check-label {
  cursor: pointer;
  font-weight: normal;
}

.briefing-consent-container {
  padding: 20px;
  border-radius: var(--border-radius-components);
  background: var(--bg-components);
  border: var(--border-components);
}
