{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% block title %}{{ project.name }}{% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ddm_core/css/bootstrap/bootstrap-icons.css' %}" />
  <link href="{% static 'ddm_core/css/fonts.css' %}" rel="stylesheet" />
  <link href="{% static 'ddm_core/css/research-interface-base.css' %}" rel="stylesheet" />

  {% block extrahead %}{% endblock extrahead %}

</head>
<body id="ddm-participation-body">
<div id="ddm-participation-header">
  {% block public-header %}
    {% include "ddm_participation/header.html" %}
  {% endblock public-header %}
</div>

<div id="ddm-participation-main">
  <div class="container public-main py-5 px-3">
    <div class="row justify-content-center">
      {% block content %}{% endblock content %}
    </div>
  </div>
</div>

<div id="ddm-participation-footer">
  {% block public-footer %}
    {% include "ddm_participation/footer.html" %}
  {% endblock public-footer %}
</div>

{% include "ddm_participation/footer_modals.html" %}

<script src="{% static 'ddm_core/js/jquery/jquery-3.6.2.min.js' %}"></script>
<script src="{% static 'ddm_core/js/bootstrap/bootstrap.bundle.min.js' %}"></script>

{% block extrascripts %}{% endblock extrascripts %}

</body>
</html>
