{% extends "ddm_participation/base.html" %}
{% load static i18n %}

{% block content %}
<div class="col-12 col-md-10 col-lg-8">

  <div>
    {% if object.debriefing_text == None %}
    <h1>{% translate "Thank you very much!" %}</h1>
    <p>{% translate "You have reached the end of the study and can now close this window." %}</p>
    {% else %}
    {{ debriefing | safe }}
    {% endif %}
  </div>

  {% if object.redirect_enabled %}
  <a
    class="flow-btn"
    href="{{ redirect_target }}"
  >
    <span class="pe-2">{% translate 'Continue' %}</span>
    <i class="step-chevron bi bi-chevron-right"></i>
  </a>
  {% endif %}

</div>
{% endblock content %}
