{% load i18n %}

<div class="border-top">
  <div class="container public-footer pt-2 pb-5">
    <div class="d-flex flex-row">
      <div class="pe-4">
        <a
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#contactModal"
        >
          {% translate "Contact" %}
        </a>
      </div>
      <div class="pe-4">
        <a
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#dataProtectionModal"
        >
          {% translate "What happens with my data?" %}
        </a>
      </div>
    </div>
  </div>
</div>
