{% extends 'ddm/admin/base.html' %}

{% block page_title %}Data Donation Setup{% endblock %}

{% block main_heading %}Data Donation Setup{% endblock %}

{% block main_body %}
<div class="ddm-admin-section">
  <div class="w-75">
    <p>The data donation setup is built around so-called Donation Blueprints and Blueprint Containers.</p>
    <p><b>Donation Blueprint:</b> A Donation Blueprint relates to a single file (e.g., a .json or a .csv file) and defines the data validation and data extraction steps for this file.</p>
    <p><b>Blueprint Container:</b> Multiple Donation Blueprints can be bundled into a Blueprint Container if participants are expected to upload a zip-container that contains one or several relevant files.
      If a Blueprint Container is uploaded, it will then try to match the files contained within the container to one of the Donation Blueprints.
      If a match is found, the data in the file will be extracted based on the rules defined in the donation blueprint.
    </p>
  </div>
  <div class="ddm-admin-section-header">Donation Blueprints</div>
  <div class="ddm-admin-section-body">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Assigned to</th>
        <th>Instructions</th>
        <th></th>
        <th></th>
      </tr>
      {% for blueprint in donation_blueprints %}
      <tr>
        <td>{{ blueprint.name }}</td>
        <td>{{ blueprint.blueprint_container }}</td>
        <td>
          {% if blueprint.blueprint_container %}
          Defined on container
          {% elif blueprint.get_instructions %}
          <a href="{% url 'instruction-overview' blueprint.project.pk 'blueprint' blueprint.pk %}">Edit Instructions</a>
          {% else %}
          No instructions – <a href="{% url 'instruction-create' blueprint.project.pk 'blueprint' blueprint.pk %}">Add Instructions</a>
          {% endif %}
        </td>
        <td><a href="{{ blueprint.get_absolute_url }}">Edit Blueprint</a></td>
        <td><a href="{% url 'blueprint-delete' blueprint.project.pk blueprint.pk %}">Delete Blueprint</a></td>
      </tr>
      {% empty %}
      <tr>
        <td>No blueprints created yet.</td>
      </tr>
      {% endfor %}
    </table>
    <a class="ddm-btn" href="{% url 'blueprint-create' project_pk %}"><b>+</b>&nbsp;&nbsp;Create new Blueprint</a>
  </div>
</div>


<div class="ddm-admin-section">
  <div class="ddm-admin-section-header">Blueprint Containers</div>
  <div class="ddm-admin-section-body">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Instructions</th>
        <th></th>
        <th></th>
      </tr>
      {% for blueprint in blueprint_containers %}
      <tr>
        <td>{{ blueprint.name }}</td>
        <td>
          {% if blueprint.get_instructions %}
          <a href="{% url 'instruction-overview' blueprint.project.pk 'blueprint-container' blueprint.pk %}">Edit Instructions</a>
          {% else %}
          <a href="{% url 'instruction-create' blueprint.project.pk 'blueprint-container' blueprint.pk %}">Add Instructions</a>
          {% endif %}
        </td>
        <td><a href="{{ blueprint.get_absolute_url }}">Edit Blueprint Container</a></td>
        <td><a href="{% url 'blueprint-container-delete' blueprint.project.pk blueprint.pk %}">Delete Container</a></td>
      </tr>
      {% empty %}
      <tr>
        <td>No Blueprint Containers created yet.</td>
      </tr>
      {% endfor %}
    </table>
    <a class="ddm-btn" href="{% url 'blueprint-container-create' project_pk %}"><b>+</b>&nbsp;&nbsp;Create new Blueprint Container</a>
  </div>
</div>

<div>
  <a href="{% url 'project-detail' project_pk %}">&#129040; go back</a>
</div>

{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'project-list' %}">Projects</a> /
<a href="{% url 'project-detail' project_pk %}">"{{ project.name|truncatechars:15 }}" Project</a> /
Data Donation
{% endblock %}
