<table id="inlineform-table" class="table fs-08">
  <tr class="border-bottom">
    <th>Order</th>
    <th>Rule name</th>
    <th>Field</th>
    <th>Description</th>
    <th></th>
    <th>Delete</th>
  </tr>

  {% for form in rule_formset %}
    <tr>
      {{ form.non_field_errors }}
      {% with loop_id=forloop.counter0 %}
        {% for bound_field in form.visible_fields %}
          {% if bound_field.name in 'name,field,execution_order' %}
            <td id="{{ bound_field.name }}-{{ loop_id }}">
              {{ bound_field.errors }}
              {% if bound_field.name == 'field' %}
                {{ form.instance.field.get_name }}
              {% else %}
                {{ bound_field.value }}
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      {% endwith %}

      <td>
        <span id="step-description-{{ forloop.counter0 }}">–</span>
      </td>

      <td>
        <a href="" type="button" data-bs-toggle="modal" data-bs-target="#configuration-{{ forloop.counter0 }}">configure rule</a>
      </td>

      {% for bound_field in form.visible_fields %}
        {% if bound_field.name == 'DELETE' %}
          <td>
            {{ bound_field.errors }}
            {{ bound_field }}
          </td>
        {% endif %}
      {% endfor %}

      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
    </tr>

  {% empty %}
    <tr id="no-rules-defined-warning">
      <td colspan="6">
        No Rules defined
      </td>
    </tr>
  {% endfor %}

</table>
