{% extends 'ddm_core/page_with_form.html' %}

{% load static %}

{% block page_title %}Create New Uploader{% endblock page_title %}

{% block main_heading %}Create New Uploader{% endblock main_heading %}

{% block cancel_target %}{% url 'ddm_datadonation:overview' project.url_id %}{% endblock cancel_target %}

{% block form_content %}
  {{ form.non_field_errors }}

  {% include "ddm_datadonation/uploader/form_sections/general_settings.html" %}

  {% include "ddm_datadonation/uploader/form_sections/display_settings.html" %}

  {% include "ddm_datadonation/uploader/form_sections/consent_settings.html" %}

{% endblock form_content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ddm_datadonation/js/file-uploader-ui-helpers.js' %}"></script>
{% endblock scripts %}
