{% extends 'ddm_core/page_with_form.html' %}

{% block page_title %}Delete Uploader{% endblock %}

{% block main_heading %}{% endblock %}

{% block main_top %}

  <div class="ddm-form-section mt-4">
    <div class="ddm-form-section-header">
      <h1>Delete Uploader "{{ object.name }}"?</h1>
    </div>
    <div class="ddm-form-section-body">
      <form method='post'>
        {% csrf_token %}

        <p>This will:</p>

        <ul>
          <li>Delete this Uploader.</li>
          {% if instructions > 0 %}<li>Delete the associated instructions.</li>{% endif %}
          {% if blueprints %}<li>Unassign associated Blueprints (not deleted).</li>{% endif %}
        </ul>

        <div class="ddm-btn-group">
          <div class="inner-btn-group">
            <div><a class="ddm-btn-base ddm-btn-secondary" href="{% url 'ddm_datadonation:uploaders:edit' project.url_id object.pk %}">Cancel</a></div>
            <div><input class="ddm-btn-base ddm-btn-red" type="submit" value="Delete Uploader"></div>
          </div>
        </div>
      </form>

    </div>
  </div>

{% endblock %}

{% block main_form %}{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'ddm_projects:list' %}">Projects</a><i class="bi bi-chevron-right"></i>
  <a href="{% url 'ddm_projects:detail' project.url_id %}">"{{ project.name|truncatechars:15 }}" Project</a><i class="bi bi-chevron-right"></i>
  <a href="{% url 'ddm_datadonation:overview' project.url_id %}">Data Donation</a><i class="bi bi-chevron-right"></i>
  Delete Uploader
{% endblock %}
