{% extends 'ddm_core/page_with_form.html' %}

{% load static %}

{% block page_title %}Edit Uploader{% endblock page_title %}

{% block main_heading %}Edit Uploader "{{ object.name }}"{% endblock main_heading %}

{% block form_content %}

  {{ form.non_field_errors }}

  {# Base Settings #}
  {% include "ddm_datadonation/uploader/form_sections/general_settings.html" %}

  {# Layout Settings #}
  {% include "ddm_datadonation/uploader/form_sections/display_settings.html" %}

  {# Consent Settings #}
  {% include "ddm_datadonation/uploader/form_sections/consent_settings.html" %}

  {# Associated Blueprints #}
  {% include "ddm_datadonation/uploader/form_sections/associated_blueprints.html" %}

  {# Delete #}
  {% include "ddm_datadonation/uploader/form_sections/delete.html" %}

{% endblock form_content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ddm_datadonation/js/file-uploader-ui-helpers.js' %}"></script>
{% endblock scripts %}
