site:
  title: DDM Documentation
  start_page: ddm::index.adoc
content:
  sources:
    - url: https://github.com/uzh/ddm.git
      branches: [main, develop]
      tags: [v1.0.0]
      version: true
      start_path: docs
ui:
  bundle:
    url: ./ui/ui-bundle.zip
    snapshot: true
