{% extends 'ddm_core/page_with_form.html' %}
{% load static %}

{% block page_title %}Edit Briefing Page{% endblock page_title %}

{% block main_heading %}Briefing Page{% endblock main_heading %}

{% block sub_heading %}
  The briefing page is the entry point to your study for your participants
{% endblock sub_heading %}

{% block form_content %}

  <div id="briefing-edit" class="ddm-section-container">
    <div class="row">
      {{ form.non_field_errors }}
      {% include "ddm_core/form_components/_basic_field.html" with field=form.briefing_text extra_field_classes="mb-3" %}
      <div>
        {% include "ddm_core/form_components/_checkbox_toggle_field.html" with field=form.briefing_consent_enabled %}
      </div>
      <div class="mb-3" id="consentLabelContainer">
        <p class="ddm-form-group-header">Consent Labels</p>
        <div class="ddm-form-group row mb-0">
          {% include "ddm_core/form_components/_basic_field.html" with field=form.briefing_consent_label_yes %}
          {% include "ddm_core/form_components/_basic_field.html" with field=form.briefing_consent_label_no %}
        </div>
      </div>
    </div>
  </div>

{% endblock form_content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ddm_projects/js/briefing-edit-utils.js' %}"></script>
{% endblock scripts %}
