{% extends 'ddm_core/page_with_form.html' %}
{% load static %}

{% block page_title %}Edit Debriefing Page{% endblock page_title %}

{% block main_heading %}Debriefing Page{% endblock main_heading %}

{% block sub_heading %}
  The debriefing page is the last page your participants will see
{% endblock sub_heading %}

{% block form_content %}

  <div id="debriefing-edit" class="ddm-section-container">
    <div class="row">
      {{ form.non_field_errors }}
      {% include "ddm_core/form_components/_basic_field.html" with field=form.debriefing_text extra_field_classes="mb-3" %}
    </div>
  </div>

{% endblock form_content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ddm_projects/js/briefing-edit-utils.js' %}"></script>
{% endblock scripts %}