{% extends 'ddm_core/page_with_form.html' %}
{% load static %}

{% block page_title %}Create New Project{% endblock page_title %}

{% block main_heading %}Create New Project{% endblock main_heading %}

{% block form_content %}

  <div id="project-create-section" class="ddm-section-container">
    <div class="row">
      {{ form.non_field_errors }}
      {{ form.owner }}

      {% include "ddm_core/form_components/_basic_field.html" with field=form.name %}
      {% include "ddm_core/form_components/_basic_field.html" with field=form.slug %}
      {% include "ddm_core/form_components/_basic_field.html" with field=form.contact_information %}
      {% include "ddm_core/form_components/_basic_field.html" with field=form.data_protection_statement %}

      {% with content_include_path="ddm_projects/form_sections/_enhanced_encryption_block.html" %}
        {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4 narrow-accordion" accordion_id="advancedOptionsAcc" accordion_title="Advanced Options" %}
      {% endwith %}

    </div>
  </div>

{% endblock form_content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ddm_projects/js/project-create-utils.js' %}"></script>
{% endblock scripts %}
