{% extends 'ddm_core/page_with_form.html' %}

{% block page_title %}Delete Project{% endblock page_title %}

{% block main_heading %}{% endblock main_heading %}

{% block main_top %}

  <div class="ddm-form-section mt-4">
    <div class="ddm-form-section-header">
      <h1>Delete Project "{{ object.name }}"?</h1>
    </div>
    <div class="ddm-form-section-body">
      <form method='post'>
        {% csrf_token %}

        <p>This will:</p>

        <ul>
          <li>Permanently delete this Project</li>
          <li>Delete all collected data donations</li>
          <li>Delete all associated Uploaders and Blueprint</li>
          <li>Delete all associated questions</li>
          <li>Delete all collected questionnaire responses</li>
        </ul>

        <div class="mt-4 ddm-btn-group">
          <div class="inner-btn-group">
            <div><a class="ddm-btn-base ddm-btn-secondary" href="{% url 'ddm_projects:detail' object.url_id %}">Cancel</a></div>
            <div><input class="ddm-btn-base ddm-btn-red" type="submit" value="Delete Project"></div>
          </div>
          <div>{# Spacing element #}</div>
        </div>
      </form>

    </div>
  </div>

{% endblock main_top %}

{% block main_form %}{% endblock %}

