{% extends 'ddm_core/page_with_form.html' %}

{% load static %}

{% block page_title %}Edit Project{% endblock %}

{% block main_heading %}Edit Project Details{% endblock %}

{% block main_form %}
  <form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}

    <div>
      {% if form.errors %}
        <p class="error-disclaimer"><i class="bi bi-exclamation-square-fill"></i> The form could not be processed.
          Please check the issues highlighted below.</p>
      {% endif %}

      {{ form.non_field_errors }}

      {# General Settings #}
      {% with content_include_path="ddm_projects/form_sections/general_settings.html" %}
        {% with accordion_description="Name, URL identifier and activity" %}
          {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4" accordion_id="GeneralSettings" accordion_title="General Settings" %}
        {% endwith %}
      {% endwith %}

      {# Public Information #}
      {% with content_include_path="ddm_projects/form_sections/public_information_settings.html" %}
        {% with accordion_description="Contact & Data Protection Statement" %}
          {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4" accordion_id="PublicInformationSettings" accordion_title="Public Information" %}
        {% endwith %}
      {% endwith %}

      {# URL Parameter Extraction #}
      {% with content_include_path="ddm_projects/form_sections/url_parameter_extraction.html" %}
        {% with accordion_description="e.g., for linking DDM with an external survey" %}
          {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4" accordion_id="URLParameterSettings" accordion_title="URL Parameter Extraction" %}
        {% endwith %}
      {% endwith %}

      {# Redirect Configuration #}
      {% with content_include_path="ddm_projects/form_sections/redirect_settings.html" %}
        {% with accordion_description="Where to send participants at the end of the data collection" %}
          {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4" accordion_id="RedirectSettings" accordion_title="Redirect Configuration" %}
        {% endwith %}
      {% endwith %}

      {# Project Appearance #}
      {% with content_include_path="ddm_projects/form_sections/appearance_settings.html" %}
        {% with accordion_description="How the project looks for participants" %}
          {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4" accordion_id="AppearanceSettings" accordion_title="Project Appearance" %}
        {% endwith %}
      {% endwith %}

      <div class="ddm-btn-group">
        <div>{# Spacing element #}</div>
        <div class="inner-btn-group">
          <div><a class="ddm-btn-base ddm-btn-secondary" href="{% url 'ddm_projects:detail' object.url_id %}">Cancel</a></div>
          <div><input class="ddm-btn-base ddm-btn-green" type="submit" value="Update Project"></div>
        </div>
      </div>

    </div>
  </form>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ddm_projects/js/project-edit-utils.js' %}"></script>
  <script src="{% static 'ddm_datadonation/js/accordion-form-error-indicator.js' %}"></script>
{% endblock %}
