{% extends 'ddm_core/page_with_form.html' %}

{% load static %}

{% block page_title %}Edit Uploader Translations{% endblock page_title %}

{% block main_heading %}Uploader Translations{% endblock main_heading %}

{% block sub_heading %}
  Override default text included in the donation interface or add translations for additional languages.
{% endblock sub_heading %}

{% block form_content %}

  <div id="project-translations-section" class="ddm-section-container">
    <div class="row">
      <div>
        {% for field in form %}

          {% include "ddm_core/form_components/_basic_field.html" with field=field %}

          <p class="pb-3">
            For example, the donation consent question can be changed by setting the custom translations to:
            <code>{"en": {"feedback": {"donation-question": "custom english question"}}, "de": {"feedback": {"donation-question": "custom german question"}}}</code>
          </p>

          <p>
            Below you can see the structure of the original translation file to identify the keys you
            want to overwrite.
          </p>
        {% endfor %}
      </div>
    </div>

    <div class="pt-2">
      {% with locales_example="<pre>"|add:locales|add:"</pre>" %}
        {% include "ddm_core/components/info_collapsible.html" with element_id="ulbps" title="See original translations" include_path="" body=locales_example %}
      {% endwith %}
    </div>

  </div>

{% endblock form_content %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ddm_projects/js/project-edit-utils.js' %}"></script>
{% endblock scripts %}