{% if token %}
  <h2>Current Token</h2>

  <div class="table-responsive">
    <table class="table">
      <tbody class="border-top-0">
      <tr>
        <td><label>Token</label></td>
        <td><code>{{ token.key }}</code></td>
      </tr>

      <tr>
        <td><label>Created on</label></td>
        <td>{{ token.created|date:"d M Y, H:i" }}</td>
      </tr>

      <tr>
        <td><label>Expiration date</label></td>
        <td>{{ token.expiration_date|date:"d M Y, H:i" }}</td>
      </tr>

      <tr>
        <td><label>Status</label></td>
        <td>{% if token.has_expired %}<span class="badge bg-danger">Invalid</span>{% else %}<span class="badge bg-success">valid</span>{% endif %}</td>
      </tr>

      </tbody>

    </table>
  </div>

  <div class="mt-3">
    {% include "ddm_auth/_token_delete_form.html" %}
  </div>

{% else %}
  <h2>Create Token</h2>
  {% include "ddm_auth/_token_create_form.html" %}
{% endif %}