<div class="modal" id="delete-token-modal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Delete Token</h4>
        <p>Are you sure you want to delete the current API token?</p>

      </div>
      <div class="modal-footer">
        <button
            type="button"
            class="ddm-btn-base ddm-btn-secondary"
            data-bs-dismiss="modal">
          Cancel
        </button>
        <input
            id="delete-token-button"
            class="ddm-btn-base ddm-btn-red"
            data-bs-dismiss="modal"
            type="submit"
            value="Delete Token"
        >
      </div>
    </div>
  </div>
</div>