{% extends 'ddm_core/page_with_form.html' %}

{% block page_title %}Remote Data Access{% endblock %}

{% block main_heading %}Remote Data Access{% endblock %}

{% block form_content %}

  <div id="project-details" class="ddm-section-container">
    <div class="row">
      <h2>How remote data access works</h2>
      {% include "ddm_auth/_access_explanation.html" %}
    </div>

    <div class="row mt-4">
      {% include "ddm_auth/_token_management.html" %}
    </div>
  </div>

{% endblock form_content %}

{% block pre_footer_right %}{% endblock pre_footer_right %}