{% extends 'ddm_core/page_with_form.html' %}

{% block page_title %}Remote Data Access{% endblock %}

{% block main_heading %}Remote Data Access{% endblock %}

{% block main_form_header %}{% endblock %}

{% block main_form %}

  {# How To #}
  {% with content_include_path="ddm_auth/_access_explanation.html" %}
    {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4" accordion_id="explanationAcc" accordion_title="How the remote access works" is_expanded=True %}
  {% endwith %}

  {# Token Management #}
  {% with content_include_path="ddm_auth/_token_management.html" %}
    {% include "ddm_core/components/accordion_card.html" with extra_classes="mb-4" accordion_id="accessTokenAcc" accordion_title="Access token" is_expanded=True %}
  {% endwith %}

  {% block cancel %}
    <p class="mt-4">
      <a href="{% url 'ddm_projects:detail' project.url_id %}"><i class="bi bi-arrow-left-short"></i> Back</a>
    </p>
  {% endblock %}
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'ddm_projects:list' %}">Projects</a><i class="bi bi-chevron-right"></i>
  <a href="{% url 'ddm_projects:detail' project.url_id %}">"{{ project.name|truncatechars:15 }}" Project</a><i class="bi bi-chevron-right"></i>
  Manage Access Token
{% endblock %}
